Package: com.xcxiao.floatingdockxi
Name: FloatingDockXI
Depends: mobilesubstrate
Version: 0.0.1
Architecture: iphoneos-arm
Description: An awesome MobileSubstrate tweak!
Maintainer: XCXiao
Author: XCXiao
Section: Tweaks
